body {
  min-width: 500px;
}

.Popup {
  min-height: 200px;
  min-width: 200px;

  background-color: #282c34;
  color: #f3f3f0;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.2rem;
    font-weight: 100;
    // text-align: center;
    padding: 5px 10px;
  }

  &-Password {
    flex-grow: 1;
    box-shadow: 0 0 0 1px #80808050;
    padding: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    max-height: 600px;
    overflow: scroll;
  }

  &-Controls {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    box-shadow: 0 0 5px #000000aa;

    &-New {
      box-shadow: none;
    }
  }
}
