body {
  min-width: 500px;
}

.Popup {
  // min-height: 200px;
  min-width: 200px;

  background-color: #282c34;
  color: #f3f3f0;

  display: flex;
  flex-direction: column;

  input {
    background: none;
    border: none;
    width: 100%;
    outline: none;
  }

  &-Password {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 0 1px #80808050;
    padding: 10px;

    input {
      font-weight: 100;
    }

    &-Copy {
      transition: background-position 0.1s linear;
      background-image: linear-gradient(110deg, #30aca2, #a830ac);
      background-size: 300%;
      background-position: left;

      &:hover {
        background-image: linear-gradient(110deg, #30aca2, #a830ac);
      }

      &.copied {
        background-image: linear-gradient(110deg, #45ac30, #30aca2, #a830ac);
        background-position: right;
      }

      &.error {
        background: #aa0000;
      }
    }
  }

  &-Controls {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    row-gap: 10px;

    box-shadow: 0 0 5px #000000aa;

    &-Length {
      display: flex;
      align-items: center;
      // column-gap: 5px;

      border-radius: 5px;
      box-shadow: 0 0 0 1px #80808050;

      label {
        cursor: pointer;
        padding: 4px 8px;
        font-weight: 100;
      }

      input[type="number"] {
        font-weight: 300;
        max-width: 8ch;
        padding: 4px 8px;
        text-align: left;
      }
    }

    &-New {
      box-shadow: 0 0 0 1px #80808050;
      flex-grow: 1;

      &:hover {
        background: #80808050;
      }
    }
  }
}
