body {
  min-width: 500px;
}

.Popup {
  // min-height: 200px;
  min-width: 200px;

  background-color: #282c34;
  color: #f3f3f0;

  display: flex;
  justify-content: space-between;

  &-Password {
    box-shadow: 0 0 0 1px #80808050;
    padding: 10px;

    input {
      background: none;
      border: none;
    }

    &-Copy {
      &.copied {
        background: green;
      }
    }
  }

  &-Controls {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    box-shadow: 0 0 5px #000000aa;

    &-New {
      box-shadow: none;
    }
  }
}
