body {
  min-width: 500px;
}

.Popup {
  // min-height: 200px;
  min-width: 200px;

  background-color: #282c34;
  color: #f3f3f0;

  display: flex;
  flex-direction: column;

  input {
    background: none;
    border: none;
    width: 100%;
    outline: none;

    &[type="number"] {
      max-width: 5ch;
      padding: 4px 8px;
    }
  }

  &-Password {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 0 1px #80808050;
    padding: 10px;

    &-Copy {
      transition: background 0.1s linear;

      &.copied {
        background: #45ac30;
      }

      &.error {
        background: #aa0000;
      }
    }
  }

  &-Controls {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    box-shadow: 0 0 5px #000000aa;

    &-Length {
      display: flex;
      align-items: center;
      column-gap: 10px;

      label {
        cursor: pointer;
      }

      input[type="number"] {
        font-weight: 700;
      }
    }

    &-New {
      box-shadow: none;
    }
  }
}
