body {
  min-width: 500px;
}

.Popup {
  // min-height: 200px;
  min-width: 200px;

  background-color: #282c34;
  color: #f3f3f0;

  display: flex;
  flex-direction: column;

  input {
    background: none;
    border: none;
    width: 100%;
    outline: none;
  }

  &-Password {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 0 1px #80808050;
    padding: 10px;

    input {
    }

    &-Copy {
      transition: background 0.1s linear;

      &.copied {
        background: #45ac30;
      }

      &.error {
        background: #aa0000;
      }
    }
  }

  &-Controls {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    row-gap: 10px;

    box-shadow: 0 0 5px #000000aa;

    &-Length {
      display: flex;
      align-items: center;
      // column-gap: 5px;

      border-radius: 5px;
      box-shadow: 0 0 0 1px #80808050;

      label {
        cursor: pointer;
        padding: 4px 8px;
      }

      input[type="number"] {
        font-weight: 700;
        max-width: 8ch;
        padding: 4px 8px;
        text-align: left;
      }
    }

    &-New {
      flex-grow: 1;
      box-shadow: none;
    }
  }
}
