html {
  --clr-black: #1f2020;
  --clr-white: #f0f0f3;
  --clr-blue: #0077ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-white);
}

button {
  background: none;
  border: none;
  border-radius: 100px;
  padding: 5px;

  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;

  cursor: pointer;

  text-transform: uppercase;

  color: var(--clr-white);

  box-shadow: 0 0 0 1px #80808050, -2px -2px 4px #ffffff20,
    3px 3px 5px #00000080;

  &:hover {
    background: #80808050;
  }
}

select {
  background: none;
  max-width: max-content;
}

svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}
