@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  --clr-black: #1f2020;
  --clr-white: #f0f0f3;
  --clr-blue: #0077ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-white);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
  border-radius: 100px;
  padding: 5px;

  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;

  cursor: pointer;

  text-transform: uppercase;

  color: var(--clr-white);

  box-shadow: 0 0 0 1px #80808050, -2px -2px 4px #ffffff20,
    3px 3px 5px #00000080;

  &:hover {
    background: #80808050;
  }
}

select {
  background: none;
  max-width: max-content;
}

svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}
