.TextBlock {
  border-radius: 8px;

  box-shadow: 0 0 0 1px #80808050, inset 5px 5px 2px #00000020,
    inset -2px -2px 2px #ffffff10;
  padding: 10px 30px 10px 10px;

  // min-height: 100px;

  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &-Text {
    font-weight: 300;
  }

  &-Date,
  &-Time {
    color: #808080;
    font-size: 0.8rem;
    font-weight: 100;
  }

  &-Copy,
  &-Remove {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;

    border-radius: 8px;
    padding: 5px;

    cursor: pointer;

    svg {
      min-width: 1.3rem;
      min-height: 1.3rem;
      stroke: #80808050;
      fill: #80808050;
    }

    &:hover {
      background: #80808050;

      svg {
        stroke: var(--clr-white);
        fill: var(--clr-white);
      }
    }
  }

  &-Copy {
    top: 0;
  }

  &-Remove {
    bottom: 0;
  }
}
